/* global.css */
@import "tailwindcss";

@theme {
  /* 
    Color Palette
  */

  --color-greenl: #749b3f;
  --color-green: #176d38;
  --color-primary: #ff6a19;
  --color-black: #212337;

  --color-gray-100: #4a4a52;
  --color-gray-80: #a6a6a6;
  --color-gray-50: #d9d9d9;
  --color-gray-20: #f4f6f6;
  --color-text-lime: #749b3f;

  --breakpoint-xs: 480px;
  --breakpoint-xsm: 500px;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;

  /* 
    Background & Foreground
  */
  --color-background: #ffffff;
  --color-bg-lime: #f1f5ec;
}
/*
  Fonts
*/
/* :root {
  --font-heading: var(--font-rubik);
  --font-body: var(--font-questrial);
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-questrial), sans-serif;
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-rubik), sans-serif;
  font-weight: 500;
}

p {
  font-family: var(--font-questrial), sans-serif;
}

@layer components {
  @layer components {
    .container_inner {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    /* Extra small (≥480px) */
    @media (min-width: 480px) {
      .container_inner {
        padding-left: 3.25rem;
        padding-right: 3.25rem;
      }
    }

    /* Small (≥640px) */
    @media (min-width: 640px) {
      .container_inner {
        padding-left: 4.25rem;
        padding-right: 4.25rem;
      }
    }

    /* Medium (≥768px) */
    @media (min-width: 768px) {
      .container_inner {
        padding-left: 5rem;
        padding-right: 5rem;
      }
    }

    /* Large (≥1024px) */
    @media (min-width: 1024px) {
      .container_inner {
        padding-left: 6.5rem;
        padding-right: 6.5rem;
      }
    }

    /* Extra Large (≥1280px) */
    /* @media (min-width: 1280px) {
      .container_inner {
        padding-left: 10rem;
        padding-right: 10rem;
      }
    } */

    /* 2XL (≥1536px) */
    @media (min-width: 1536px) {
      .container_inner {
        padding-left: 12rem;
        padding-right: 12rem;
      }
    }
  }

  .nav_link:hover {
    transition: all 0.4s;
    color: #749b3f;
  }
  .nav_link::after {
    position: absolute;
    content: "";
    background-color: #749b3f;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .nav_link:hover::after {
    scale: 1;
  }
  .card {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    text-align: center;
    margin: 0.5rem;
  }
  .footer-card {
    background-color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    text-align: center;
    margin: 0.5rem;
  }
}
/* background */
.bg-lime {
  background-color: var(--color-bg-lime);
}
.bg-orange {
  background-color: var(--color-primary);
}
.bg-grey-card {
  background: var(--color-gray-50);
}

/* text */
.text-lime {
  color: var(--color-text-lime);
}
.text-black {
  color: var(--color-black);
}

.text-green {
  color: var(--color-green);
}

/* Custom responsive utilities */
@layer utilities {
  /* Display utilities */
  .hidden-xs {
    display: none;
  }
  @media (min-width: var(--breakpoint-xs)) {
    .xs\:block {
      display: block;
    }
  }

  .hidden-xsm {
    display: none;
  }
  @media (min-width: var(--breakpoint-xsm)) {
    .sm\:block {
      display: block;
    }
  }
  .hidden-sm {
    display: none;
  }
  @media (min-width: var(--breakpoint-sm)) {
    .sm\:block {
      display: block;
    }
  }

  .hidden-md {
    display: none;
  }
  @media (min-width: var(--breakpoint-md)) {
    .md\:block {
      display: block;
    }
  }

  .hidden-lg {
    display: none;
  }
  @media (min-width: var(--breakpoint-lg)) {
    .lg\:block {
      display: block;
    }
  }
}
