/* global.css */
@import "tailwindcss";

@theme {
  /* 
    Color Palette
  */


  --color-green: #749b3f;
  --color-primary: #ff6a19;
  --color-black: #212337;

  --color-gray-100: #4a4a52;
  --color-gray-80: #a6a6a6;
  --color-gray-50: #d9d9d9;
  --color-gray-20: #f4f6f6;

  --breakpoint-xs: 480px;




  /* 
    Background & Foreground
  */
  --color-background: #ffffff;
 

}
/*
  Fonts
*/
:root {
--font-heading: var(--font-rubik);
--font-body: var(--font-questrial);
}


body {
font-family: var(--font-body), sans-serif;
background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--font-heading), sans-serif;
font-weight: 500;
}
